<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <dataProviders>
      <main>
        <param desc="databasePropertiesProviderType">Sitecore.Support.TimeCachedPropertyStore.DatabasePropertyProviderWithAsyncFlush,Sitecore.Support.443745</param>
      </main>
    </dataProviders>

    <settings>
      <!-- IntervalPropertyFlushProvider DatabasePropertiesFlushChangesInterval
           This setting allows you to specify how often property changes should be flushed to database.
      -->
      <setting name="Support.IntervalPropertyFlushProvider.DatabasePropertiesFlushChangesInterval" value="00:00:10"/>

      <!-- IntervalPropertyFlushProvider LogDebugInfo
           This setting allow to log debugging information.
      -->
      <setting name="Support.IntervalPropertyFlushProvider.LogDebugInfo" value="false"/>
    </settings>
  </sitecore>
</configuration>